ul, li, p, h3 {margin: 0;padding: 0;}
h4 {display: block;-webkit-margin-before: 1.33em;-webkit-margin-after: 1.33em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;font-weight: bold;}
li {list-style: none;}
a{text-decoration:none;color: inherit;}
a:hover{text-decoration:none;}
body {font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;font-size: 14px; line-height: 1.43;color: #484848;background-color: #fff;-webkit-font-smoothing: antialiased;    -moz-osx-font-smoothing: grayscale;}
.main{display: none;}

.topbody{	margin: 0 auto;}
.clear:after{	display: block;	content: "";	clear: both;}
.topbar{	width:100%;	display: inline-block;}
.topbar li{	float:left;}
.toplist{	display: inline-block;	list-style-type:none;}
/*.toplist a{	color:#FFF;	text-decoration: none;}*/
.toplist_span{	padding-bottom: 5px;}
.toplist_span:hover{	border-bottom: 2px solid red;}

.title{	display: inline-block;	float: left;	padding:15px 20px 15px 20px;	color: #d81e06;}
.toplist{	float: right;}
.toplist li{	padding:15px 20px ;	color: #484848;	cursor:pointer;}
.title{	color:#000;	text-decoration: none;	padding:15px 30px 15px 30px;}


.phone-signup{display: none;}
.phone-signin{display: none;}
.cover{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background-color: #000;opacity: 0.4;z-index: 99;}
.signup-cover{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background-color: #000;opacity: 0.4;z-index: 99;}
.signin-cover{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background-color: #000;opacity: 0.4;z-index: 100;}
.box {width: 450px;background: #fff;border: 1px solid #ccc;border-radius: 3px;position: fixed;left: 50%;top: 50%;margin-left: -225px;margin-top: -150px;z-index: 100;}
.signup-list {width: 450px;background: #fff;border: 1px solid #ccc;border-radius: 3px;position: fixed;left: 50%;top: 50%;margin-left: -225px;margin-top: -150px;z-index: 100;}
.signin-list {width: 450px;background: #fff;border: 1px solid #ccc;border-radius: 3px;position: fixed;left: 50%;top: 50%;margin-left: -225px;margin-top: -300px;z-index: 100;}
.header {  position: relative;border-bottom: 2px solid #ccc;}
.header > h3 {  padding: 10px;}
.header > .close {  position: absolute;right: 10px;top: 5px;}
.content > p {padding: 10px;}
.content >form{display: block;margin-top: 0em;}              
.icon{padding-top: 13px;}
.btn-wechat:hover, .btn-wechat:focus {border-color: #0bde16;    background-color: #0bde16;    color: #fff;}
.btn:hover, .btn:focus {text-decoration: none;}
.btn-wechat {   margin:15px auto; width: 400px; border-color: #09bc13;background-color: #09bc13;color: #fff;}
.btn-alipay:hover, .btn-alipay:focus {border-color: #16b9ff;background-color: #16b9ff;color: #fff;}
.btn:hover, .btn:focus {text-decoration: none;}
.btn-alipay {   margin:15px auto; width: 400px;border-color: #00a9f1;background-color: #00a9f1;color: #fff;}
.btn-phone:hover, .btn-phone:focus {    border-color: #db4948;    background-color: #db4948;    color: #fff;}
.btn:hover, .btn:focus {text-decoration: none;}
.btn-phone {   margin:15px auto; width: 400px;border-color: #d52b2a;background-color: #d52b2a;color: #fff;}
.control-group {margin-bottom: 6px;}
.phone-signup-form{margin: 20px;}
.inspectletIgnore{margin-bottom: 6px;}
.phone-check-signup{display: none;color: red;}
.password-check-signup{display: none;color: red;}
.phone-check-signin{display: none;color: red;}
.password-check-signin{display: none;color: red;}
#check-num{display: flex;}
#check-num > input{flex:1;}
.check_num{width: 50%;}
.random_number{display: none;}

#btn-signin{border-color: #d52b2a;    background-color: #d52b2a;    color: #fff;}
#btn-signin:hover, #btn-signin:focus {    border-color: #db4948;    background-color: #db4948;    color: #fff;}
#header_img{width: 35px;height: 35px;border-radius: 50%;margin-top: -10px;}
.container_personal_info {display: none;position: absolute !important; width: 100% ;    right: 0px !important;}
.content_personal_info {
	z-index: 100;
	background-color: #ffffff !important;    border: 1px solid #DBDBDB !important;    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) !important;    width: 200px !important;    min-height: 100px !important;    position: absolute !important;    right: 5px !important;    top: 14px !important;}
.content_personal_info>ul>li{    width: 60%;}
.content_border{width: 170px;padding-bottom: 10px;    border-bottom: 1px solid rgba(0,0,0,0.1);}
.content_border:hover{    border-bottom: 1px solid rgba(0,0,0,0.5);}
svg:not(:root) {    overflow: hidden;}
.fang_yyjois {    position: absolute !important;width: 20px !important;height: 10px !important;top: 5px !important;}
.fangShape_1s2t3cl {fill: #ffffff !important;}
.fangStroke_tjp8vr {stroke: #DBDBDB !important;fill: transparent !important;}
.content_cover{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background-color: #fff;opacity: 0;z-index: 99;}


    #apartment_room li{display: inline-block; margin: 15px 0; }
    #apartment_room li img{width: 333px;height: 222px;}
    #apartment_room{
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 1030px;
            flex-wrap: wrap;
        }
 