
.bs-example:after {
	content: "实例：" !important;
}

.bs-docs-section > p, .bs-docs-section > ul, 
.bs-docs-section > ol, .bs-callout > p, 
.bs-callout > ol, .bs-callout > ul {
	font-size: 16px;
	line-height: 1.75;
	margin-bottom: 1em;
}

.bs-callout *:last-child {
	margin-bottom: 0;
}




.bs-docs-sidebar .nav > li > a {
    font-size: 16px;
}


.bs-docs-sidebar .nav .nav > li > a {
    font-size: 14px;
 }


.dropdown ul.nav li.active  a:hover {
	color:#FAFAFA;
}

html,body {
    height: 100%;
}
 
#polyglotLanguageSwitcher{
	margin-top:20px;
}  


.nav > li > a {
    display: block;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    position: relative;
}

#top-menu
{
padding-top:8px;
}


.carousel-inner > .item > img, .carousel-inner > .item > a > img {
   margin-top: 50px;
   margin-left: 182px;

}


#next, #prev {
    height: 44px;
    width: 46px; 
     -moz-user-select: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0.39);
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    margin-top: -20px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    position: absolute;
    top: 50%;
    
}

#next > span, #prev > span {
    display: block;
    height: 60px;
    width: 16px;
}

.act, #prev > span, #next > span, #slider-nav > a {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("arrows.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
}

#prev  
{
 margin-left: -60px;   
}

 #next
 {
  margin-right: -60px;  
 }

#next > span {
    background-position: -20px 0;
}

.feature_summary{
margin-left: 184px;
}

.feature_summary > p{
margin-left: 14px;
width: 800px;
}

.carousel-indicators
{  
     display: block;
    bottom: 0px;
    margin-bottom: 0px;

}
#indicators_container{
   display: block;
   width: 100%;
   left: 0%;
   height: 22px;
  
   padding-left: 0;
   position: absolute;
   border-top: 1px solid #F6F6F6;

}

.align-center > p
{
   text-align: left; 
}

#top-menu > div.container
{
    width:100%;
}

dl{
margin-top: 20px;    
margin-left: 25px;
}

dd{
margin-top: 5px;    
margin-left: 10px;
}


.well{
    background: rgba(255,255,255,0);
}


.red
{
  color: red;
}

dt{
    font-size: 18px;
    color: #333333;
    font-weight:300;
}

.img-rounded{
  border:1px solid #E2E2E2;
}

.feature_summary{
  height: 160px;
}


.feature_summary > p >span
{
  font-size: 16px;
  color: #656565;
}

.nanx_help:after {
     
    content: "" !important;
}

.nanx_help{
  margin-left: 20px;
  padding-top: 10px;
}

.back_help >h1 ,.back_items {
  font-size: 18px;
}

.help_title
{
  margin-left: 20px;
  font-size: 22px;
  margin-top: 30px;
} 
  


.back_notice{
  font-size: 18px;
}


.back_demopic{
  font-size: 18px;
}


.back_demopic:after {
     
    content: ':' !important;
}

.fixed {
    position: fixed;
}
.autoscroll_ul{
    overflow-y: scroll;
    height: 100%;
}

.operation_desc,.operation_notice{
  margin-left: 10px;
}

#gotop
{
  float:left;
  clear: left;
} 


.popover-title {
    background-color: #FF8605;
}





