<html xmlns:fb="http://ogp.me/ns/fb#" lang="zh"><!--<![endif]-->
<head>
<?php  
   $this->view('bnb.meta.html');
 ?>
</head>
  
  <body class="with-new-header has-epcot-header p1-header-view has_scrolled_below_fold"><a class="screen-reader-only screen-reader-only-focusable skip-to-content" data-hook="skip-to-content" href="#site-content">
      跳至内容
    </a>
<span class="screen-reader-only">
      爱彼迎
    </span>
<div id="smart-banner" class="smart-banner" aria-hidden="true"></div>
<?php  
   $this->view('bnb.header.php');
 ?>
<div id="search-modal">
    <div data-reactroot=""></div>
</div>
<style data-aphrodite=""></style>
<div data-hypernova-key="signup_login_dlsauth_modalsbundlejs">
    <!-- react-empty: 1 -->
</div>
<img src="/pg_pixel" style="position: absolute; height: 0; width: 0; top: -999px; left: -999px">
<div id="field-guide-container"> 

<?php
 $this->view('bnb.help.php');
 ?>


</div>
<div class="flash-container"></div>
<main id="site-content" role="main" tabindex="-1">
<?php
   // $this->view('bnb.oneroom.html');
   //  $this->load->view('bnb.oneroom.htm', $detail,false);
//     debug($detail);

   //$this->load->view('bnb.oneroom.html', $detail);
   

     $this->parser->parse('bnb.oneroom.html', $detail);

 ?>

 

</main>
<div id="footer-promo-mount"></div>
<div id="footer" class="container-brand-light footer-surround footer-container">
    <?php  $this->view('bnbfooter.html');  ?>
</div>
<div id="fb-root"></div>
<div>
    <div data-reactroot=""><span></span></div>
</div>
</body></html>
