    <meta charset="utf-8">
    
    <link href="http://47.92.72.19/bnbfiles/common_o2.css" media="all" rel="stylesheet" type="text/css">
    <link href="http://47.92.72.19/bnbfiles/common.css" media="all" rel="stylesheet" type="text/css">
    <link href="http://47.92.72.19/bnbfiles/circular_zh_override.css" media="all" rel="stylesheet" type="text/css">
    <link href="http://47.92.72.19/bnbfiles/main.css" media="screen" rel="stylesheet" type="text/css">
    <link href="http://47.92.72.19/bnbfiles/page.css" media="screen" rel="stylesheet" type="text/css">
    <link href="http://47.92.72.19/bnbfiles/impt.css" media="screen" rel="stylesheet" type="text/css">
    <link href="http://47.92.72.19/bnbfiles/mapbox.css" media="screen" rel="stylesheet" type="text/css">
    <link href="http://47.92.72.19/bnbfiles/p3.css" media="screen" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://47.92.72.19/css/bnbheader.css">
 

    <script type="text/javascript" src="http://47.92.72.19/js/jquery-3.2.1.min.js"  charset="utf-8"></script>
  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
    <script type="text/javascript" src="http://47.92.72.19/js/bnbheader.js"></script>
    <script type="text/javascript" src="http://47.92.72.19/js/roomdetail.js"></script>
    
    <title>度假屋、民宿、体验和攻略 - Airbnb爱彼迎</title>
    <link rel="canonical" href="https://zh.airbnb.com/">
    <link rel="alternate" hreflang="zh" href="https://zh.airbnb.com/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="image_src" href="https://z2.muscache.com/airbnb/static/logos/trips-og-200x200-a3be4fbbb3b6c5e758804438dea35adc.jpg">
    <link rel="shortcut icon" sizes="76x76" type="image/x-icon" href="http://47.92.72.19/bnbfiles/logotype_favicon.ico">


    <link rel="stylesheet" type="text/css" href="http://47.92.72.19/css/cityPicker.css">
    <script type="text/javascript" src="http://47.92.72.19/js/cityPicker.js"></script>
    <!-- <script type="text/javascript" src="http://47.92.72.19/js/cityData.js"></script> -->


    <!-- <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script> -->
    <script type="text/javascript" src="http://47.92.72.19/js/moment.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" /> -->
    <script type="text/javascript" src="http://47.92.72.19/js/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="http://47.92.72.19/css/daterangepicker.css"/>
    <script type="text/javascript" src="http://47.92.72.19/js/personaldata.js"></script>
    <script type="text/javascript" src="http://47.92.72.19/js/personalphoto.js"></script>
    <script type="text/javascript" src="http://47.92.72.19/js/personalevaluate.js"></script>