<div data-hypernova-key="site_footersite_footerbundlejs">
    <div data-reactroot="">
        <div class="pageContainer_pheyz5-o_O-pageContainer_verticalSpacingTop_141lvco
-o_O-pageContainer_verticalSpacingBottom_1543n94" style="background-color: transparent;">
            <footer role="contentinfo">
                <div class="text_5mbkop-o_O-size_small_1gg2mc">
                    <div class="row_2h22gn">
                        <div class="column_1rnz84d-o_O-column-sm-12_1wbopx2-o_O-column-md-3_15xgqn1">
                            <div class="row_2h22gn">
                                <div class="column_1rnz84d-o_O-column-sm-6_1m1bdvm-o_O-column-md-12_1e8o7vv">
                                    <div>
                                        <div class="container_36rlri-o_O-block_r99te6">
                                            <label class="label_hidden_1m8bb6v" for="language-selector"><span>选择语言</span></label>
                                            <div class="container_1nbitbn-o_O-block_r99te6">
                                                <div class="selectContainer_y9ev9r">
                                                    <select id="language-selector" name="language-selector" class="select_4rkam3-o_O-block_r99te6">
                                                        <option value="zh">中文 (简体)</option>
                                                    </select>
                                                </div><span class="arrow_1pzmvmb"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column_1rnz84d-o_O-column-sm-6_1m1bdvm-o_O-column-md-12_1e8o7vv">
                                    <div>
                                        <div class="container_36rlri-o_O-block_r99te6">
                                            <label class="label_hidden_1m8bb6v" for="currency-selector"><span>选择货币</span></label>
                                            <div class="container_1nbitbn-o_O-block_r99te6">
                                                <div class="selectContainer_y9ev9r">
                                                    <select id="currency-selector" name="currency-selector" class="select_4rkam3-o_O-block_r99te6">
                                                        <option value="CNY">CNY</option>
                                                    </select>
                                                </div><span class="arrow_1pzmvmb"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="instant-help-footer" class="hide" data-instant-help="400-716-0164">
                                <section>
                                    <h1 class="heading_tpbrp"><div class="text_5mbkop-o_O-size_regular_x6m9oi-o_O-weight_bold_153t78d"><span>需要帮助？</span></div></h1>
                                    <div style="margin: 16px 0px 0px;"><a href="/help" aria-disabled="false" class="component_9w5i1l"><span>访问帮助中心</span></a>
                                        <div><span>电话支持：400-716-0164</span></div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="column_1rnz84d-o_O-column-sm-12_1wbopx2-o_O-column-md-2_gcl49z-o_O-offset-md-1-left_jly2o0">
                            <div>
                                <section>
                                    <h3 class="heading_tpbrp"><div class="text_5mbkop-o_O-size_small_1gg2mc-o_O-weight_bold_153t78d"><span>爱彼迎</span></div></h3>
                                    <div style="margin: 16px 0px 0px;">
                                        <ul class="listLayout_i9c42l">
                                            <li class="item_o2jk4c"><a href="/about/about-us" aria-disabled="false" class="component_9w5i1l-o_O-footer_10k87om"><span>关于</span></a></li>
                                            <li class="item_o2jk4c"><a href="/careers" aria-disabled="false" class="component_9w5i1l-o_O-footer_10k87om"><span>工作机会</span></a></li>
                                            <li class="item_o2jk4c"><a href="/press/news" aria-disabled="false" class="component_9w5i1l-o_O-footer_10k87om"><span>新闻</span></a></li>
                                            <li class="item_o2jk4c"><a href="/policies" aria-disabled="false" class="component_9w5i1l-o_O-footer_10k87om"><span>政策</span></a></li>
                                            <li class="item_o2jk4c"><a href="/help?from=footer" aria-disabled="false" class="component_9w5i1l-o_O-footer_10k87om"><span>帮助</span></a></li>
                                            <li class="item_o2jk4c"><a href="/diversity" aria-disabled="false" class="component_9w5i1l-o_O-footer_10k87om"><span>多元化与归属感</span></a></li>
                                        </ul>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="column_1rnz84d-o_O-column-sm-12_1wbopx2-o_O-column-md-2_gcl49z-o_O-offset-md-1-left_jly2o0">
                            <div>
                                <section>
                                    <h3 class="heading_tpbrp"><div class="text_5mbkop-o_O-size_small_1gg2mc-o_O-weight_bold_153t78d"><span>发现</span></div></h3>
                                    <div style="margin: 16px 0px 0px;">
                                        <ul class="listLayout_i9c42l">
                                            <li class="item_o2jk4c"><a href="/trust" aria-disabled="false" class="component_9w5i1l-o_O-footer_10k87om"><span>信任与安全</span></a></li>
                                            <li class="item_o2jk4c"><a href="/invite?r=6" aria-disabled="false" class="component_9w5i1l-o_O-footer_10k87om">旅行基金</a></li>
                                            <li class="item_o2jk4c"><a href="/gift?s=footer" aria-disabled="false" class="component_9w5i1l-o_O-footer_10k87om"><span>礼品卡</span></a></li>
                                            <li class="item_o2jk4c"><a href="https://www.airbnbcitizen.com?utm_source=airbnb&amp;utm_medium=footer&amp;utm_campaign=product" target="_blank" rel="noopener noreferer" aria-disabled="false" class="component_9w5i1l-o_O-footer_10k87om"><span>爱彼迎公民</span></a></li>
                                            <li class="item_o2jk4c"><a href="/business-travel?s=footer" aria-disabled="false" class="component_9w5i1l-o_O-footer_10k87om"><span>商务差旅</span></a></li>
                                            <li class="item_o2jk4c"><a href="/things-to-do" aria-disabled="false" class="component_9w5i1l-o_O-footer_10k87om"><span>旅游指南</span></a></li>
                                        </ul>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="column_1rnz84d-o_O-column-sm-12_1wbopx2-o_O-column-md-2_gcl49z-o_O-offset-md-1-left_jly2o0">
                            <div>
                                <section>
                                    <h3 class="heading_tpbrp"><div class="text_5mbkop-o_O-size_small_1gg2mc-o_O-weight_bold_153t78d"><span>出租</span></div></h3>
                                    <div style="margin: 16px 0px 0px;">
                                        <ul class="listLayout_i9c42l">
                                            <li class="item_o2jk4c"><a href="/host" aria-disabled="false" class="component_9w5i1l-o_O-footer_10k87om"><span>为什么要出租?</span></a></li>
                                            <li class="item_o2jk4c"><a href="/hospitality" aria-disabled="false" class="component_9w5i1l-o_O-footer_10k87om"><span>待客之道</span></a></li>
                                            <li class="item_o2jk4c"><a href="/help/responsible-hosting" aria-disabled="false" class="component_9w5i1l-o_O-footer_10k87om"><span>房东义务</span></a></li>
                                        </ul>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div style="margin: 48px 0px 24px;">
                                <div style="margin: 16px 0px;">
                                    <div class="rule_76irmj"></div>
                                </div>
                            </div>
                        </div>
                        <!-- react-empty: 115 -->
                    </div>
                    <div class="row_2h22gn">
                        <div class="column_1rnz84d-o_O-column-sm-12_1wbopx2-o_O-column-md-6_1du467z">
                            <div itemscope="" itemtype="http://schema.org/Organization" class="alignment_7fuu8q">
                                <div class="container_qtix31">
                                    <div class="child_17u98ky">
                                        <div style="margin: 0px 8px 0px 0px;"></div>
                                    </div>
                                    <div class="child_17u98ky">
                                        <div class="text_5mbkop-o_O-size_small_1gg2mc-o_O-color_muted_10k87om">&copy; Airbnb, Inc.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column_1rnz84d-o_O-column-sm-12_1wbopx2-o_O-column-md-6_1du467z">
                            <ul class="ul_4qkm3d">
                                <link itemprop="url" href="https://zh.airbnb.com">
                                <meta itemprop="logo" content="https://z2.muscache.com/airbnb/static/logos/belo-cn-200x200-9518747d43e25d1834cda4cbe55464c5.png">
                                <li class="item_o2jk4c-o_O-inline_m6fv9m"><a href="/terms" aria-disabled="false" class="component_9w5i1l-o_O-footer_10k87om"><span>条款</span></a></li>
                                <li class="item_o2jk4c-o_O-inline_m6fv9m"><a href="/terms/privacy_policy" aria-disabled="false" class="component_9w5i1l-o_O-footer_10k87om"><span>隐私政策</span></a></li>
                                <li class="item_o2jk4c-o_O-inline_m6fv9m-o_O-hideAtSmall_6m9cp9"><a href="/sitemaps" aria-disabled="false" class="component_9w5i1l-o_O-footer_10k87om"><span>网站地图</span></a></li>
                                <li class="socialListItems_52tvy"><span class="container_1oznos1"><a href="http://www.weibo.com/airbnb" target="_blank" rel="noopener noreferer" itemprop="sameAs" aria-label="微博" class="container_1rp5252" style="padding: 0px;"><span class="accessible_1m8bb6v">微博</span></a>
                                    </span><span class="inline_vfs391-o_O-hideAtSmall_6m9cp9"><button aria-disabled="false" class="component_9w5i1l-o_O-component_button_r8o91c-o_O-footer_10k87om" type="button"><div class="container_qtix31"><div class="child_17u98ky"><div style="margin: 0px 8px 0px 0px;"></div></div><div class="child_17u98ky"><span class="accessible_1m8bb6v"><span>微信</span></span>
                        </div>
                    </div>
                    </button>
                    <!-- react-empty: 155 -->
                    </span>
                    </li>
                    </ul>
                </div>
        </div>
    </div>
    </footer>
</div>
</div>
</div>
