<div class="trustBannerContainer_zdxht7"><div class="pageContainer_pheyz5" style="background-color: transparent;">
    <div class="rowContainer_rogkmd">
        <div class="row_12izoqg">
            <div class="column_1calczk">
                <div class="columnContentContainer_116f21c">
                    <div class="iconContainer_1fkmcgu">
                    </div>
                    <div class="textContainer_ub3qmd">
                        <div class="columnHeader_zimj4g">400-716-0164</div>
                        <div><span>24x7中文客服为您随时提供帮助。</span></div>
                    </div>
                </div>
            </div>
            <div class="column_1calczk">
                <div class="columnContentContainer_116f21c">
                    <div class="iconContainer_1fkmcgu"></div>
                    <div class="textContainer_ub3qmd">
                        <div class="columnHeader_zimj4g"><span>安全支付</span></div>
                        <div><span><!-- react-text: 383 -->支付宝付款已向中国用户开通。<!-- /react-text --><span><a href="help/article/795" target="_blank"><!-- react-text: 386 -->了解更多<!-- /react-text --></a></span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column_1calczk">
                <div class="columnContentContainer_116f21c">
                    <div class="sesameIcon_1evd4od-o_O-iconContainer_1fkmcgu"></div>
                    <div class="textContainer_ub3qmd">
                        <div class="columnHeader_zimj4g"><span>芝麻信用</span></div>
                        <div><span>实名认证房东房客信息，真实可靠。</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>