@charset "utf-8";

#polyglotLanguageSwitcher, #polyglotLanguageSwitcher * {
	margin: 0;
	padding: 0; 
	outline: none;
}

#polyglotLanguageSwitcher ul {
	list-style: none;	
 
}

#polyglotLanguageSwitcher {
	font-size: 12px;
	color: #444;
	line-height: normal;
	position: relative; /* sets the initial position for the drop-down menu */	
	z-index: 100;
	float:left;
	margin-top:4px;
	width:160px;
}

#polyglotLanguageSwitcher form {
	 
	height:200px;
}

/* ---------------------------------------------------------------------- */
/* JS-created Code
/* ---------------------------------------------------------------------- */
#polyglotLanguageSwitcher a {
	text-decoration: none;
	display: block;	
	padding: 0.5em 6px 0.5em 28px; /* 6px 6px 6px 28px */
	color: #444;
	width: 150px;  
	background-repeat: no-repeat;
	background-position: 6px center; 
}

#polyglotLanguageSwitcher a:hover {
	color: #000;	
}

#polyglotLanguageSwitcher a.current:link, #polyglotLanguageSwitcher a.current:visited, #polyglotLanguageSwitcher a.current:active {
	position: relative; /* sets the initial position for the trigger arrow */
	background-color: #FFF;
	border: 1px solid #E5E5E5;
	border-radius: 3px;
	height: 28px; /* 15px */
	width: 152px;
}

#polyglotLanguageSwitcher a.current:hover, 
#polyglotLanguageSwitcher ul.dropdown li:hover {
	background-color: #e7e7e7;
}

#polyglotLanguageSwitcher a.active { /* This style is applied as long as the drop-down menu is visible. */
	border-bottom: none !important;
	border-radius: 3px 3px 0 0 !important;
}

#polyglotLanguageSwitcher span.trigger {
	display: block;
	position: absolute;
	width: 9px;
	height: 5px;
	text-indent: -10000em;
	top: 0.5em; /* 6px */
	right: 6px;
}

#polyglotLanguageSwitcher a.current:link span.trigger, #polyglotLanguageSwitcher a.current:visited span.trigger {
	background: url('images/country/arrow-down.gif') no-repeat left top;	
}




#polyglotLanguageSwitcher a.current:hover span.trigger, #polyglotLanguageSwitcher a.current:active span.trigger, #polyglotLanguageSwitcher a.active span.trigger {
	background-position: left bottom !important;
}

/* Drop-Down Menu */

#polyglotLanguageSwitcher ul.dropdown { 
	display: none;
	position: absolute;
	top: 2.333em; /* 28px */
	left: 0;
	background-color:#F7F7F7;
	border: 1px solid #E5E5E5;
	border-top: none !important;
	border-radius: 0 0 3px 3px;
}

#polyglotLanguageSwitcher ul.dropdown li { 
	border-top: 1px dotted #D4D4D4;
    
}

#polyglotLanguageSwitcher ul.dropdown li:last-child { 
	border-radius: 0 0 3px 3px;
}

/* Flags */



#zh,#zh-cn,#zh-CN { 
	background-image: url(images/country/cn.png);
}

#en { 
	background-image: url(images/country/en.png);
}

#fr { 
	background-image: url(images/country/fr.png);	
}

#de { 
	background-image: url(images/country/de.png);	
}

#it { 
	background-image: url(images/country/it.png);	
}


#ko { 
	background-image: url(images/country/ko.png);	
}

#ja { 
	background-image: url(images/country/ja.png);	
}


#zh-tw { 
	background-image: url(images/country/zh-tw.png);	
}



#hu{ 
	background-image: url(images/country/hu.png);	
}



#pl{ 
	background-image: url(images/country/pl.png);	
}

#zh-hk { 
	background-image: url(images/country/zh-hk.png);	
}


#es { 
	background-image: url(images/country/es.png);	
}
