 #slider-with-blocks-1 {
  width:900px;
}
                       
  #slider-with-blocks-2 {
  width:430px;
}

.rsContent {
  color: #FFF;
  font-size: 24px;
  line-height: 32px;
  float: left;
}
.bContainer {
  position: relative;
}
.rsABlock {
  position: relative;
  display: block;
  left: auto;
  top: auto;
}
.blockHeadline {
  font-size: 42px;
  line-height: 50px;
}
.blockSubHeadline {
  font-size: 32px;
  line-height: 40px
}
.txtCent {
  text-align: center; 
  width: 100%; 
}

.slide1 {
  background: #f06b50;
}
.slide1 .bContainer {
  top: 36%;
}
.slide2 {
    background: #ffbc11;
    color:#000;
}
.slide2 .bContainer {
  top: 24px;
}
.slide2 .txtCent {
  line-height: 44px;
}
.slide2 .blockHeadline {
   line-height: 66px;
}
.slide3 {
    background: #45aab8;
    color:#FFF;
}
.slide3 .bContainer {
   top: 24px;
}
.slide3 span {
  line-height: 44px;
}
.slide4 .bContainer {
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
  top: 24px;
}

.photoCopy {
  position: absolute;
  line-height: 24px;
  font-size: 12px;
  background: black;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0px 10px;
  position: absolute;
  left: 12px;
  bottom: 12px;
  top: auto;
  border-radius: 2px;
  z-index: 25;
}
.photoCopy a {
  color: #FFF;
}
.palmImg {
  left: 0;
  top: auto;
  bottom: -60px;
  position: absolute;
}


@media screen and (min-width: 0px) and (max-width: 960px) { 
  .rsContent {
    font-size: 22px;
    line-height: 28px;
  }
  .blockHeadline {
    font-size: 32px;
    line-height: 32px;
  }
  .blockSubHeadline {
    font-size: 26px;
    line-height: 32px
  }
}
@media screen and (min-width: 0px) and (max-width: 500px) { 
  .royalSlider,
  .rsOverflow {
    height: 330px !important;
  }
  .rsContent {
    font-size: 18px;
    line-height: 26px;
  }
  .blockHeadline {
    font-size: 24px;
    line-height: 32px;
  }
  .blockSubHeadline {
    font-size: 22px;
    line-height: 32px
  }
}



#footer_wrap{width:100%;float:left;background:#FAFAFA;color:black;margin-top:10px;padding:15px 0 30px 0 }
#footer_wrap{border-top:solid 1px #D2D2D2;}
#footer_wrap .footer{width:1364px;margin:0 auto}
#footer_wrap .footer ul{width:195px;float:left; }
#footer_wrap .footer ul li{width:100%;float:left;line-height:20px;text-align:left;margin:1px 0}
#footer_wrap .footer .backtotop{width:100%;float:left;text-align:center;margin-top:20px;padding:10px 0 0 0;border-top:1px solid #444;}
#footer_wrap .footer a{color:#999;text-decoration:none;}
#footer_wrap .footer a:hover{color:#000;}

.footer {
	padding:10px;
}
#footer_wrap {
    color: #333333;
    font-size:9pt;
    font-family: "Arial",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}    
 
#footer_wrap ul, li {
    color:#999999;
    list-style-type: none;
}


.thin-table {border-collapse:collapse;
border:1px;
margin-left:10px;
margin-top:10px;}

.thin-table td,th{
border:1px solid #E0E0E0;
font-size:13px;
height:25px;
padding:1px 12px 1px 12px;
border-collapse:collapse;
}

#myModalLabel
{
background-image:url(/img/loading.gif);
background-repeat:no-repeat;
}

#field_check_info
{
font-size:12px;
 color:#F9552D;
padding:0;
margin-left:20px;
}  


.eid
{
background-image:url('img/eid.png');
background-repeat:no-repeat;
}

.rsNavItem
{
  cursor:pointer;
}


 #top_dropdown  li   a {
    color:  #192727;
}

 #nanx_footer a,#nanx_footer li
 {
 font-color:white;
 color:white;
 font-size:12px;
 }

body {
    font-family:  "Arial",Helvetica,Arial,sans-serif;
 } 

 .carousel-indicators li , .carousel-indicators active {
    -moz-border-bottom-colors: #9B9B9B;
    -moz-border-left-colors: #9B9B9B;
    -moz-border-right-colors: #9B9B9B;
    -moz-border-top-colors: #9B9B9B;
    background-color: #9B9B9B;
  }


.carousel-indicators .active {
    background-color: #66AFE9;
    -moz-border-bottom-colors: #66AFE9;
    -moz-border-left-colors: #66AFE9;
    -moz-border-right-colors: #66AFE9;
    -moz-border-top-colors: #66AFE9;
}


.carousel-control{
  width:20px;
}


#dashboard{
  margin-left:60px;
  width:175px;
}

#dashboard_workplace
{
 margin-left: 40px;
}

#dashboard ul li {
    text-align: left;
    width: 100%;
}

.panel-heading, .table{
  text-align: left;
}
 
 .thin-table
 {
 text-align: left;
 margin-bottom: 10px;
}
 .form-control
 {
  width:400px;
 } 

 
 
 #reg_wrapper
 {
  margin-left:300px;
  width:700px;
 }


 .popover{
    width:300px;
    height:100px;    
}
 