.download_bg{width:100%;height:180px;background:#030618;position:absolute;opacity:0.7;filter:alpha(opacity=70);}
.download_div{width:1190px;margin:0 auto;position:relative;}
.download_app{float:left;margin-top:-50px;}
.app_code{box-sizing: border-box; height:180px;padding:15px 20px 20px;float:left;text-align:center;color:#fff;font-size:14px;}
.app_code p{padding:5px 0 10px;;}
.app_code img{width: 90px;}
.download_tip{margin-left:-5px;}
.download_tip a{height:30px;width:120px;color:#fff;line-height:30px;  display: block;border:1px solid #fff;border-radius:5px;}
.download_tip a:nth-child(2){margin-top:23px;}
.download_tip a:last-child{margin-top:15px;}
.download_phone{float:left;  display: inline-block;margin-top:-27px;margin-left:20px;}
.weixin{margin-left:15px;}
.btn-close{position: absolute;  z-index: 1;  top: 15px;  right: 24px;  height: 36px;  cursor: pointer;  transition: all 300ms;  -webkit-transition: all 300ms;}
.btn-close:hover {  transform: rotate(180deg);  -webkit-transform: rotate(180deg);  }
.app_close{  position:fixed;  bottom:15px;  cursor: pointer;  z-index: 999;}
.app_close .background-img img {  width: 127px;}