.mask{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: #000;
	opacity: 0.4;
	z-index: 10;
}
.hongbao_img{
	width: 330px;
	position: fixed;
	z-index: 100002;
	left: 41%;
	box-sizing: border-box;
	margin: 100px auto;

}
.hongbao{
	width: 330px;
}
.hong_close{
	width: 39px;
	float: right;
	margin-bottom: -92px;
	margin-right: -46px;
	cursor: pointer;
}