
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1499313294509'); /* IE9*/
  src: url('iconfont.eot?t=1499313294509#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1499313294509') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1499313294509') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1499313294509#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before { content: "\e61b"; }

