.logoContainer_ousp44 {
    position: relative !important;
    z-index: 20 !important;
}

.flyoutMenuMask_xbzxbi {
    height: 64px !important;
    width: 100% !important;
    background-color: #ffffff !important;
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    -webkit-transform: translateY(-64px) !important;
    -ms-transform: translateY(-64px) !important;
    transform: translateY(-64px) !important;
    -webkit-transition-duration: 0.05s !important;
    transition-duration: 0.05s !important;
    -webkit-transition-property: -webkit-transform, transform !important;
    -moz-transition-property: transform !important;
    transition-property: -ms-transform, -webkit-transform, transform !important;
    -webkit-transition-timing-function: ease-out !important;
    transition-timing-function: ease-out !important;
    -webkit-transition-delay: 0.3s !important;
    transition-delay: 0.3s !important;
    z-index: 15 !important;
}

.flyoutMenuContainer_pw89d3 {
    position: relative !important;
    z-index: 10 !important;
}

.container_8iqo2b {
    position: relative !important;
    z-index: 5 !important;
}

.content_i4dt0d-o_O-content_floating_qmgvy5 {
    background-color: transparent !important;
    border-bottom: none !important;
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
}

.navigationContainer_e9j1ad {
    display: none !important;
    opacity: 1 !important;
    -webkit-transition: 0.25s opacity ease-out !important;
    -moz-transition: 0.25s opacity ease-out !important;
    transition: 0.25s opacity ease-out !important;
}

@media (min-width: 1025px) {
    .navigationContainer_e9j1ad {
        display: block !important;
    }
}

.container_2930ex {
    display: table !important;
    width: 100% !important;
}

.child_1g2dfiu-o_O-child_alignMiddle_13gjrqj {
    display: table-cell !important;
    vertical-align: middle !important;
}

.child_1g2dfiu-o_O-child_middle_zdxht7-o_O-child_alignMiddle_13gjrqj {
    display: table-cell !important;
    width: 100% !important;
    vertical-align: middle !important;
}

.content_u4fxld {
    display: table-cell !important;
    height: 64px !important;
    position: relative !important;
    text-align: center !important;
    text-decoration: none !important;
    -webkit-transition: 1s color !important;
    -moz-transition: 1s color !important;
    transition: 1s color !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
    vertical-align: middle !important;
    white-space: nowrap !important;
}

.logo_36rlri {
    display: inline-block !important;
}

.icon_1sfsmb2 {
    color: #FF5A5F !important;
    display: inline-block !important;
    vertical-align: middle !important;
    font-size: 34px !important;
    -webkit-transition: 1s color !important;
    -moz-transition: 1s color !important;
    transition: 1s color !important;
}

@media (max-width: 743px) {
    .icon_1sfsmb2 {
        font-size: 34px !important;
        left: 45% !important;
    }
}

.menuIndicator_t7nb5l {
    color: #767676 !important;
    display: inline-block !important;
    font-size: 9px !important;
    margin-left: 8px !important;
    -webkit-transition: 1s color !important;
    -moz-transition: 1s color !important;
    transition: 1s color !important;
}

@media (min-width: 1025px) {
    .menuIndicator_t7nb5l {
        display: none !important;
    }
}

.container_1g2dfiu-o_O-container_link_1liswgs {
    display: none !important;
}

@media (min-width: 1025px) {
    .container_1g2dfiu-o_O-container_link_1liswgs {
        display: table-cell !important;
    }
}

.container_1g2dfiu-o_O-container_button_1k8qn4z-o_O-button_av34uu {
    display: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background: none !important;
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
}

@media (max-width: 1024px) {
    .container_1g2dfiu-o_O-container_button_1k8qn4z-o_O-button_av34uu {
        display: table-cell !important;
    }
}

.container_1g2dfiu-o_O-container_button_1k8qn4z-o_O-button_av34uu:focus {
    outline: none !important;
}

.iconWrapper_d5depq {
    display: table-cell !important;
    vertical-align: middle !important;
    -webkit-transition-property: -webkit-transform, transform !important;
    -moz-transition-property: transform !important;
    transition-property: -ms-transform, -webkit-transform, transform !important;
    -webkit-transition-duration: 250ms !important;
    transition-duration: 250ms !important;
    -webkit-transition-timing-function: ease-in-out !important;
    transition-timing-function: ease-in-out !important;
}

.list_1s04l2o {
    display: table !important;
    list-style: none !important;
    padding: 0px !important;
    margin: 0px !important;
    height: 64px !important;
}

.item_1g2dfiu {
    display: table-cell !important;
}

.container {
    position: relative !important;
}

.link_cr2i2a {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background: transparent !important;
    border: none !important;
    color: inherit !important;
    display: inline-block !important;
    height: 64px !important;
    line-height: 64px !important;
    text-decoration: none !important;
    margin: 0px !important;
    position: relative !important;
    padding: 0 16px !important;
    white-space: nowrap !important;
}

.wrapper_yt6gx-o_O-underline_gughaz-o_O-underline_none_1azbnww {
    height: 100% !important;
    vertical-align: middle !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    border-bottom: none !important;
}

.content_1pdrjiz-o_O-underline_gughaz {
    display: inline-block !important;
    padding: 8px 0 !important;
    vertical-align: middle !important;
    line-height: 1 !important;
    border-bottom: 2px solid transparent !important;
}

.notification_l7gvu6 {
    fill: #008489 !important;
    height: 6px !important;
    opacity: 0 !important;
    position: absolute !important;
    top: 50% !important;
    -webkit-transform: translate3d(4px, -8px, 0) !important;
    -ms-transform: translate3d(4px, -8px, 0) !important;
    transform: translate3d(4px, -8px, 0) !important;
    -webkit-transform-origin-x: 7px !important;
    -ms-transform-origin-x: 7px !important;
    transform-origin-x: 7px !important;
    -webkit-transform-origin-y: -5px !important;
    -ms-transform-origin-y: -5px !important;
    transform-origin-y: -5px !important;
    width: 6px !important;
}

.alipayIcon_13lilbu-o_O-iconContainer_48qtj7 {
    background-image: url(https://z0.muscache.com/airbnb/static/homepages/china/icons/alipay@2x-010782545dff08900152ea9d203eae7c.png) !important;
    background-repeat: no-repeat !important;
    width: 75px !important;
    height: 24px !important;
    background-size: 75px 24px !important;
    display: table !important;
    margin: 0 auto 8px !important;
}

@media (min-width: 744px) {
    .alipayIcon_13lilbu-o_O-iconContainer_48qtj7 {
        margin-bottom: 0px !important;
        margin-right: 24px !important;
        float: left !important;
    }
}

.sesameIcon_1evd4od-o_O-iconContainer_48qtj7 {
    background-image: url(https://z1.muscache.com/airbnb/static/homepages/china/icons/sesame_credit@2x-18ded65dcd6b35e51339724b059f3e8c.png) !important;
    background-repeat: no-repeat !important;
    width: 36px !important;
    height: 36px !important;
    background-size: 36px 36px !important;
    display: table !important;
    margin: 0 auto 8px !important;
}

@media (min-width: 744px) {
    .sesameIcon_1evd4od-o_O-iconContainer_48qtj7 {
        margin-bottom: 0px !important;
        margin-right: 24px !important;
        float: left !important;
    }
}

.modalBodyText_1wutwnh {
    -webkit-flex: 0 0 auto !important;
    -ms-flex: 0 0 auto !important;
    flex: 0 0 auto !important;
    font-size: 16px !important;
    margin-bottom: 40px !important;
}

.claimButtonLoader_zz42nk {
    position: relative !important;
    width: 100px !important;
    height: 48px !important;
}

.cnyContainer_1p3do20 {
    margin-top: 40px !important;
    margin-bottom: 16px !important;
}

.moduleHeader_zmn36q {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 19px !important;
    line-height: 24px !important;
    letter-spacing: undefined !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #484848 !important;
    margin-bottom: 16px !important;
}

.citiesTabs_1mk0p35 {
    padding-bottom: 24px !important;
}

.loadingIndicator_1x0auoc {
    position: relative !important;
    height: 100px !important;
}

.tabs_1xal37k {
    height: 70px;
    border-bottom: 1px solid #DBDBDB !important;
    position: relative !important;
}

.button_1t23k3h-o_O-button_backwards_d48umq {
    background: transparent !important;
    border: 0px !important;
    cursor: pointer !important;
    height: 100% !important;
    padding: 0px !important;
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
}

.button_1t23k3h-o_O-button_backwards_d48umq::-moz-focus-inner {
    border: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
}

.iconContainer_769vv0-o_O-iconContainer_backwards_w1faho {
    background-color: #ffffff !important;
    display: inline-block !important;
    height: 100% !important;
    position: relative !important;
    vertical-align: top !important;
    padding-right: 4px !important;
}

.icon_qplzdw {
    color: #484848 !important;
    position: relative !important;
    top: 50% !important;
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
}

.gradient_3cikar-o_O-gradient_backwards_hbkrlm {
    display: inline-block !important;
    height: 100% !important;
    vertical-align: top !important;
    width: 20px !important;
    background: -webkit-linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff) !important;
    background: -moz-linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff) !important;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff) !important;
}

.button_1t23k3h-o_O-button_forwards_fn4ull {
    background: transparent !important;
    border: 0px !important;
    cursor: pointer !important;
    height: 100% !important;
    padding: 0px !important;
    position: absolute !important;
    top: 0px !important;
    right: 0px !important;
}

.button_1t23k3h-o_O-button_forwards_fn4ull::-moz-focus-inner {
    border: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
}

.gradient_3cikar-o_O-gradient_forwards_17ipsx {
    display: inline-block !important;
    height: 100% !important;
    vertical-align: top !important;
    width: 20px !important;
    background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff) !important;
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff) !important;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff) !important;
}

.iconContainer_769vv0-o_O-iconContainer_forwards_1sqnphj {
    background-color: #ffffff !important;
    display: inline-block !important;
    height: 100% !important;
    position: relative !important;
    vertical-align: top !important;
    padding-left: 4px !important;
}

.containerWrapper_ctz3yu-o_O-containerWrapper_hideHorizontalScrollbar_1qowuqe {
    height: 100% !important;
    width: 100% !important;
    overflow-y: hidden !important;
}

.containerWrapper_hideHorizonta {
    height: 100% !important;
    width: 100% !important;
    overflow-y: hidden !important;
}



.containerOuter {
    -webkit-overflow-scrolling: touch !important;
    height: 100% !important;
    width: 100% !important;
    overflow-y: hidden !important;
}

.containerInner {
    height: 100% !important;
    /*overflow-x: scroll !important;*/
    overflow-y: auto !important;
    white-space: nowrap !important;
}

.text_x6m9oi-o_O-tab_n1jmyo-o_O-tab_small_1o9wu0-o_O-tab_selected_cwuxid {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
    padding-top: 12px !important;
    padding-bottom: 18px !important;
    color: #008489 !important;
    background-color: transparent !important;
    border-width: 0px !important;
    border-bottom: 2px solid #008489 !important;
    bottom: -1px !important;
    cursor: pointer !important;
    display: inline-block !important;
    margin: 0 24px 0 0 !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-decoration: none !important;
    -webkit-transition-property: color !important;
    -moz-transition-property: color !important;
    transition-property: color !important;
    -webkit-transition-duration: 300ms !important;
    transition-duration: 300ms !important;
    -webkit-transition-timing-function: ease-out !important;
    transition-timing-function: ease-out !important;
}

.text_x6m9oi-o_O-tab_n1jmyo-o_O-tab_small_1o9wu0-o_O-tab_selected_cwuxid:active {
    outline: 0px !important;
}

.text_x6m9oi-o_O-tab_n1jmyo-o_O-tab_small_1o9wu0-o_O-tab_selected_cwuxid::-moz-focus-inner {
    border: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
}
/*//text_x6m9oi-o_O-tab_n1jmyo-o_O-tab_small_1o9wu0*/
 

.text_button {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
    padding-top: 12px !important;
    padding-bottom: 18px !important;
    color: #484848 !important;
    background-color: transparent !important;
    border-width: 0px !important;
    border-bottom: 2px solid transparent !important;
    bottom: -1px !important;
    cursor: pointer !important;
    display: inline-block !important;
    margin: 0 24px 0 0 !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-decoration: none !important;
}

.text_button:active {
    outline: 0px !important;
}

.text_button::-moz-focus-inner {
    border: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
}





.trustBannerContainer_zdxht7 {
    width: 100% !important;
}

.rowContainer_rogkmd {
    width: 100% !important;
    margin: 0 auto !important;
}

@media (min-width: 744px) {
    .rowContainer_rogkmd {
        width: 100% !important;
    }
}

.column_1calczk {
    display: block !important;
    text-align: left !important;
    padding: 20px 0px 20px 0px !important;
    width: 100% !important;
}

@media (min-width: 744px) {
    .column_1calczk {
        padding: 40px 24px !important;
        text-align: left !important;
        width: 33.33333% !important;
        display: table-cell !important;
    }
}

@media (min-width: 1128px) {
    .column_1calczk {
        padding: 40px 30px !important;
    }
}

.iconContainer_1fkmcgu {
    display: table !important;
    margin: 0 auto 8px !important;
    margin-bottom: 0px !important;
    margin-right: 24px !important;
    float: left !important;
}

.textContainer_ub3qmd {
    display: table !important;
    margin: 0px !important;
}

.sesameIcon_1evd4od-o_O-iconContainer_1fkmcgu {
    background-image: url(https://z1.muscache.com/airbnb/static/homepages/china/icons/sesame_credit@2x-18ded65dcd6b35e51339724b059f3e8c.png) !important;
    background-repeat: no-repeat !important;
    width: 36px !important;
    height: 36px !important;
    background-size: 36px 36px !important;
    display: table !important;
    margin: 0 auto 8px !important;
    margin-bottom: 0px !important;
    margin-right: 24px !important;
    float: left !important;
}

.row_puzkdo:before {
    content: " " !important;
    display: table !important;
}

.row_puzkdo:after {
    content: " " !important;
    display: table !important;
    clear: both !important;
}

.optionalText_107ja4p {
    float: right !important;
}

.rowPaddingTop_eodux1-o_O-rowPaddingBottom_1mk0p35-o_O-baseline_none_ie1ecq {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    border-bottom: 0px !important;
}

.text_5mbkop-o_O-size_regular_x6m9oi-o_O-weight_light_1nmzz2x-o_O-inline_g86r3e {
    font-weight: 300 !important;
    color: #484848 !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 19px !important;
    line-height: 24px !important;
    letter-spacing: undefined !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    display: inline !important;
}

.cardSliderContainer_l7lh6d {
    margin-top: 0px !important;
    -webkit-overflow-scrolling: touch !important;
    overflow-y: hidden !important;
    margin-left: -24px !important;
    margin-right: -24px !important;
}

@media (min-width: 1128px) {
    .cardSliderContainer_l7lh6d {
        margin-left: -8px !important;
        margin-right: -8px !important;
        overflow: hidden !important;
        overflow-y: hidden !important;
    }
}

.cardSliderContainer_l7lh6d::-webkit-scrollbar {
    display: none !important;
}

.cardSlider_1c1v96k {
    -webkit-transition: -webkit-transform 0.5s, transform 0.5s !important;
    -moz-transition: transform 0.5s !important;
    transition: -ms-transform 0.5s, -webkit-transform 0.5s, transform 0.5s !important;
    white-space: nowrap !important;
    overflow-x: auto !important;
    overflow-y: hidden !important;
    padding: 0 18px !important;
    margin-bottom: -30px !important;
}

@media (min-width: 744px) {
    .cardSlider_1c1v96k {
        padding: 0 16px !important;
    }
}

@media (min-width: 1128px) {
    .cardSlider_1c1v96k {
        margin-bottom: 0px !important;
        padding: 0px !important;
        overflow: visible !important;
    }
}

.cardSlider_1c1v96k::-webkit-scrollbar {
    -webkit-appearance: none !important;
    display: none !important;
}

.cardContainer_mektc4-o_O-column-lg-6_1ybv557-o_O-column-md-4_bpjuu8-o_O-column-sm-3_vyvqsi {
    padding-left: 6px !important;
    padding-right: 6px !important;
    padding-bottom: 30px !important;
    display: inline-block !important;
    vertical-align: top !important;
    white-space: normal !important;
    width: 33.333333333333336% !important;
}

@media (min-width: 744px) {
    .cardContainer_mektc4-o_O-column-lg-6_1ybv557-o_O-column-md-4_bpjuu8-o_O-column-sm-3_vyvqsi {
        padding-left: 8px !important;
        padding-right: 8px !important;
        width: 25% !important;
    }
}

@media (min-width: 1128px) {
    .cardContainer_mektc4-o_O-column-lg-6_1ybv557-o_O-column-md-4_bpjuu8-o_O-column-sm-3_vyvqsi {
        padding-bottom: 0px !important;
        width: 16.666666666666668% !important;
    }
}

.image_5u0r7 {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 100% !important;
    width: 100% !important;
}

.ellipsis_2oa6ko {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    display: inline !important;
}

.subtitle_1puftlt {
    margin-left: 8px !important;
    display: inline !important;
}

.secondLine_sn72dk {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    display: block !important;
}

.link_j1qvyg {
    text-decoration: none !important;
    color: #484848 !important;
}

.container_18q6tiq {
    position: relative !important;
    width: 100% !important;
    z-index: 0 !important;
}

.children {
    position: absolute !important;
    top: 0px !important;
    bottom: 0px !important;
    left: 0px !important;
    right: 0px !important;
    height: 100% !important;
    width: 100% !important;
}

.text_5mbkop-o_O-size_small_1gg2mc-o_O-weight_bold_153t78d-o_O-inline_g86r3e {
    font-weight: 700 !important;
    color: #484848 !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    display: inline !important;
}


.text_bold {
    font-weight: 700 !important;
    color: #484848 !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    display: inline !important;
}



.text_5mbkop-o_O-size_small_1gg2mc-o_O-inline_g86r3e {
    font-weight: normal !important;
    color: #484848 !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    display: inline !important;
}
 

.text_counter {
    font-weight: normal !important;
    color: #484848 !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 12px !important;
    line-height: 16px !important;
    letter-spacing: 0.4px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    display: inline !important;
}

.button_1t23k3h-o_O-button_backwards_d48umq-o_O-button_transition_10aqeuh {
    background: transparent !important;
    border: 0px !important;
    cursor: pointer !important;
    height: 100% !important;
    padding: 0px !important;
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    -webkit-transition: opacity 300ms ease-out 0ms, visibility 300ms linear 0ms !important;
    -moz-transition: opacity 300ms ease-out 0ms, visibility 300ms linear 0ms !important;
    transition: opacity 300ms ease-out 0ms, visibility 300ms linear 0ms !important;
}

.button_1t23k3h-o_O-button_backwards_d48umq-o_O-button_transition_10aqeuh::-moz-focus-inner {
    border: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
}

.button_transition {
    background: transparent !important;
    border: 0px !important;
    cursor: pointer !important;
    height: 100% !important;
    padding: 0px !important;
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    -webkit-transition: opacity 300ms ease-out 0ms, visibility 300ms linear 0ms !important;
    -moz-transition: opacity 300ms ease-out 0ms, visibility 300ms linear 0ms !important;
    transition: opacity 300ms ease-out 0ms, visibility 300ms linear 0ms !important;
}

.button_transition::-moz-focus-inner {
    border: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
}




.button_forwards {
    background: transparent !important;
    border: 0px !important;
    cursor: pointer !important;
    height: 100% !important;
    padding: 0px !important;
    position: absolute !important;
    top: 0px !important;
    right: 0px !important;
    -webkit-transition: opacity 300ms ease-out 0ms, visibility 300ms linear 0ms !important;
    -moz-transition: opacity 300ms ease-out 0ms, visibility 300ms linear 0ms !important;
    transition: opacity 300ms ease-out 0ms, visibility 300ms linear 0ms !important;
}


.button_forwards::-moz-focus-inner {
    border: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
}

.socialListItems_52tvy {
    white-space: nowrap !important;
    display: inline !important;
    vertical-align: middle !important;
}

.pageContainer_pheyz5-o_O-pageContainer_verticalSpacingTop_141lvco-o_O-pageContainer_verticalSpacingBottom_1543n94 {
    padding-left: 24px !important;
    padding-right: 24px !important;
    max-width: 1080px !important;
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}

@media (max-width: 1127px) {
    .pageContainer_pheyz5-o_O-pageContainer_verticalSpacingTop_141lvco-o_O-pageContainer_verticalSpacingBottom_1543n94 {
        maxwidth: none !important;
    }
}

@media (min-width: 1128px) {
    .pageContainer_pheyz5-o_O-pageContainer_verticalSpacingTop_141lvco-o_O-pageContainer_verticalSpacingBottom_1543n94 {
        margin: 0 auto !important;
        position: relative !important;
        padding-left: 24px !important;
        padding-right: 24px !important;
    }
}

@media (min-width: 744px) {
    .pageContainer_pheyz5-o_O-pageContainer_verticalSpacingTop_141lvco-o_O-pageContainer_verticalSpacingBottom_1543n94 {
        padding-top: 48px !important;
        padding-bottom: 48px !important;
    }
}

.text_5mbkop-o_O-size_small_1gg2mc {
    font-weight: normal !important;
    color: #484848 !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.row_2h22gn {
    margin-left: -8px !important;
    margin-right: -8px !important;
}

.row_2h22gn:before {
    content: " " !important;
    display: table !important;
}

.row_2h22gn:after {
    content: " " !important;
    display: table !important;
    clear: both !important;
}

.column_1rnz84d-o_O-column-sm-12_1wbopx2-o_O-column-md-3_15xgqn1 {
    padding-left: 8px !important;
    padding-right: 8px !important;
    min-height: 1px !important;
    position: relative !important;
    width: 100% !important;
    float: left !important;
}

@media (min-width: 744px) {
    .column_1rnz84d-o_O-column-sm-12_1wbopx2-o_O-column-md-3_15xgqn1 {
        width: 25% !important;
        float: left !important;
    }
}

.column_1rnz84d-o_O-column-sm-6_1m1bdvm-o_O-column-md-12_1e8o7vv {
    padding-left: 8px !important;
    padding-right: 8px !important;
    min-height: 1px !important;
    position: relative !important;
    width: 50% !important;
    float: left !important;
}

@media (min-width: 744px) {
    .column_1rnz84d-o_O-column-sm-6_1m1bdvm-o_O-column-md-12_1e8o7vv {
        width: 100% !important;
        float: left !important;
    }
}

.container_1nbitbn-o_O-block_r99te6 {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 19px !important;
    line-height: 24px !important;
    letter-spacing: undefined !important;
    padding-top: undefined !important;
    padding-bottom: undefined !important;
    color: #484848 !important;
    position: relative !important;
    display: block !important;
    background: #ffffff !important;
    border: 1px solid #DBDBDB !important;
    border-radius: 2px !important;
    margin-bottom: 8px !important;
    width: 100% !important;
}

.selectContainer_y9ev9r {
    overflow: hidden !important;
}

.select_4rkam3-o_O-block_r99te6 {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 19px !important;
    line-height: 24px !important;
    letter-spacing: undefined !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    color: #484848 !important;
    font-weight: 300 !important;
    background-color: transparent !important;
    border: none !important;
    border-radius: 0px !important;
    padding-left: 12px !important;
    padding-right: 40px !important;
    height: auto !important;
    display: block !important;
    width: 100% !important;
}

.select_4rkam3-o_O-block_r99te6:focus {
    outline: none !important;
}

.arrow_1pzmvmb {
    position: absolute !important;
    top: 16px !important;
    right: 16px !important;
    line-height: 0 !important;
    pointer-events: none !important;
}

.container_36rlri-o_O-block_r99te6 {
    display: block !important;
    width: 100% !important;
}

.label_hidden_1m8bb6v {
    position: absolute !important;
    display: block !important;
    border: 0px !important;
    margin: -1px !important;
    padding: 0px !important;
    height: 1px !important;
    width: 1px !important;
    clip: rect(0, 0, 0, 0) !important;
    overflow: hidden !important;
}

.heading_tpbrp {
    color: inherit !important;
    font-size: 1em !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    margin: 0px !important;
    padding: 0px !important;
}

.text_5mbkop-o_O-size_regular_x6m9oi-o_O-weight_bold_153t78d {
    font-weight: 700 !important;
    color: #484848 !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 19px !important;
    line-height: 24px !important;
    letter-spacing: undefined !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.component_9w5i1l {
    color: #008489 !important;
    font: inherit !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    text-decoration: none !important;
}

.component_9w5i1l:hover {
    text-decoration: underline !important;
}

.component_9w5i1l:active {
    color: #00514A !important;
}

.column_1rnz84d-o_O-column-sm-12_1wbopx2-o_O-column-md-2_gcl49z-o_O-offset-md-1-left_jly2o0 {
    padding-left: 8px !important;
    padding-right: 8px !important;
    min-height: 1px !important;
    position: relative !important;
    width: 100% !important;
    float: left !important;
}

@media (min-width: 744px) {
    .column_1rnz84d-o_O-column-sm-12_1wbopx2-o_O-column-md-2_gcl49z-o_O-offset-md-1-left_jly2o0 {
        width: 16.666666666666664% !important;
        float: left !important;
        margin-left: 8.333333333333332% !important;
    }
}

.listLayout_i9c42l {
    list-style: none !important;
    margin-bottom: 0px !important;
    padding-left: 0px !important;
}

.text_5mbkop-o_O-size_small_1gg2mc-o_O-weight_bold_153t78d {
    font-weight: 700 !important;
    color: #484848 !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.item_o2jk4c {
    margin-bottom: 4px !important;
}

.component_9w5i1l-o_O-footer_10k87om {
    color: #767676 !important;
    font: inherit !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    text-decoration: none !important;
}

.component_9w5i1l-o_O-footer_10k87om:hover {
    text-decoration: underline !important;
}

.component_9w5i1l-o_O-footer_10k87om:active {
    color: #00514A !important;
}

.rule_76irmj {
    border-bottom: 1px solid #DBDBDB !important;
}

.column_1rnz84d-o_O-column-sm-12_1wbopx2-o_O-column-md-6_1du467z {
    padding-left: 8px !important;
    padding-right: 8px !important;
    min-height: 1px !important;
    position: relative !important;
    width: 100% !important;
    float: left !important;
}

@media (min-width: 744px) {
    .column_1rnz84d-o_O-column-sm-12_1wbopx2-o_O-column-md-6_1du467z {
        width: 50% !important;
        float: left !important;
    }
}

.alignment_7fuu8q {
    padding-top: 1px !important;
    white-space: nowrap !important;
}

.container_qtix31 {
    display: table !important;
}

.child_17u98ky {
    display: table-cell !important;
    vertical-align: middle !important;
}

.text_5mbkop-o_O-size_small_1gg2mc-o_O-color_muted_10k87om {
    font-weight: normal !important;
    color: #767676 !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.ul_4qkm3d {
    padding-left: 0px !important;
    list-style: none !important;
    margin-bottom: 0px !important;
    margin-left: -8px !important;
    margin-right: -8px !important;
    vertical-align: middle !important;
}

@media (min-width: 744px) {
    .ul_4qkm3d {
        text-align: right !important;
    }
}

.item_o2jk4c-o_O-inline_m6fv9m {
    margin-bottom: 4px !important;
    display: inline !important;
    padding-left: 8px !important;
    vertical-align: middle !important;
}

.item_o2jk4c-o_O-inline_m6fv9m-o_O-hideAtSmall_6m9cp9 {
    margin-bottom: 4px !important;
    display: inline !important;
    padding-left: 8px !important;
    vertical-align: middle !important;
}

@media (max-width: 743px) {
    .item_o2jk4c-o_O-inline_m6fv9m-o_O-hideAtSmall_6m9cp9 {
        display: none !important;
    }
}

.container_1oznos1 {
    display: inline-block !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    vertical-align: middle !important;
}

.container_1rp5252 {
    cursor: pointer !important;
    background-color: transparent !important;
    color: buttontext !important;
    border: 0px !important;
    display: block !important;
}

.container_1rp5252:active {
    outline: 0px !important;
}

.container_1rp5252:disabled {
    opacity: 0.5 !important;
    cursor: default !important;
    color: graytext !important;
}

.accessible_1m8bb6v {
    position: absolute !important;
    display: block !important;
    border: 0px !important;
    margin: -1px !important;
    padding: 0px !important;
    height: 1px !important;
    width: 1px !important;
    clip: rect(0, 0, 0, 0) !important;
    overflow: hidden !important;
}

.inline_vfs391-o_O-hideAtSmall_6m9cp9 {
    display: inline !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    vertical-align: middle !important;
}

@media (max-width: 743px) {
    .inline_vfs391-o_O-hideAtSmall_6m9cp9 {
        display: none !important;
    }
}

.image_1obcu44 {
    border: 1px solid #DBDBDB !important;
}

.component_9w5i1l-o_O-component_button_r8o91c-o_O-footer_10k87om {
    color: #767676 !important;
    font: inherit !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    text-decoration: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background: transparent !important;
    border: 0px !important;
    cursor: pointer !important;
    margin: 0px !important;
    padding: 0px !important;
    text-align: left !important;
    -webkit-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}

.component_9w5i1l-o_O-component_button_r8o91c-o_O-footer_10k87om:hover {
    text-decoration: underline !important;
}

.component_9w5i1l-o_O-component_button_r8o91c-o_O-footer_10k87om:active {
    color: #00514A !important;
    outline: 0px !important;
}

.container_phnph {
    background-color: #ffffff !important;
    height: 100% !important;
    overflow: hidden !important;
    list-style-type: none !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    -webkit-overflow-scrolling: touch !important;
    padding: 24px !important;
    padding-top: 88px !important;
}

.container_y9ev9r {
    overflow: hidden !important;
}

.container_71fudf-o_O-container_rounded_sa8zo9-o_O-container_notBlock_1xdomts-o_O-container_sizeRegular_6fka15-o_O-container_1hd6v8d {
    font-weight: 700 !important;
    cursor: pointer !important;
    -webkit-transition: background 0.3s, border-color 0.3s !important;
    -moz-transition: background 0.3s, border-color 0.3s !important;
    transition: background 0.3s, border-color 0.3s !important;
    position: relative !important;
    border: 2px solid transparent !important;
    border-radius: 4px !important;
    width: auto !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 19px !important;
    line-height: 22px !important;
    letter-spacing: undefined !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    color: #484848 !important;
    padding-right: 24px !important;
    padding-left: 24px !important;
    min-width: 77.66563145999496px !important;
    background: #FF5A5F !important;
    border-color: undefined !important;
}

.container_71fudf-o_O-container_rounded_sa8zo9-o_O-container_notBlock_1xdomts-o_O-container_sizeRegular_6fka15-o_O-container_1hd6v8d::-moz-focus-inner {
    border: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
}

.container_71fudf-o_O-container_rounded_sa8zo9-o_O-container_notBlock_1xdomts-o_O-container_sizeRegular_6fka15-o_O-container_1hd6v8d:active {
    background: #ED595C !important;
    border-color: undefined !important;
}

.container_71fudf-o_O-container_rounded_sa8zo9-o_O-container_notBlock_1xdomts-o_O-container_sizeRegular_6fka15-o_O-container_1hd6v8d:hover {
    background: #FF5A5F !important;
    border-color: undefined !important;
}

.container_71fudf-o_O-container_rounded_sa8zo9-o_O-container_notBlock_1xdomts-o_O-container_sizeRegular_6fka15-o_O-container_1hd6v8d:disabled {
    
    background: rgba(255, 90, 95, 0.3) !important;

    border-color: undefined !important;
    cursor: default !important;
}

.text_veo4lx-o_O-text_sizeRegular_15o3clg-o_O-text_1x93kzx {
    -webkit-transition: color 0.3s !important;
    -moz-transition: color 0.3s !important;
    transition: color 0.3s !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 19px !important;
    line-height: 22px !important;
    letter-spacing: undefined !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #ffffff !important;
    white-space: nowrap !important;
}

.text_veo4lx-o_O-text_sizeRegular_15o3clg-o_O-text_1x93kzx:active {
    color: undefined !important;
}

.text_veo4lx-o_O-text_sizeRegular_15o3clg-o_O-text_1x93kzx:hover {
    color: undefined !important;
}

.headerContainer_91eznd {
    display: table !important;
    table-layout: fixed !important;
}

.titleColumn_f1ovbo {
    display: table-cell !important;
    width: 100% !important;
    vertical-align: bottom !important;
}

.seeMoreColumn_1rudx4g {
    display: table-cell !important;
    vertical-align: bottom !important;
}

.rowHeader_11zgrfn {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 22px !important;
    line-height: 28px !important;
    letter-spacing: -0.2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #484848 !important;
    font-weight: 700 !important;
    margin-bottom: 24px !important;
}

@media (min-width: 744px) {
    .rowHeader_11zgrfn {
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
        font-size: 28px !important;
        line-height: 36px !important;
        letter-spacing: -0.6px !important;
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        color: #484848 !important;
    }
    @media (max-width: 743px) {
        .rowHeader_11zgrfn {
            font-size: 25px !important;
            line-height: 30px !important;
            letter-spacing: -0.6px !important;
        }
    }
}

.cardContainer_mektc4-o_O-column-lg-4_14dbla5-o_O-column-md-3_1fzhlj3-o_O-column-sm-2_1hfu0v {
    padding-left: 6px !important;
    padding-right: 6px !important;
    padding-bottom: 30px !important;
    display: inline-block !important;
    vertical-align: top !important;
    white-space: normal !important;
    width: 50% !important;
}

@media (min-width: 744px) {
    .cardContainer_mektc4-o_O-column-lg-4_14dbla5-o_O-column-md-3_1fzhlj3-o_O-column-sm-2_1hfu0v {
        padding-left: 8px !important;
        padding-right: 8px !important;
        width: 33.333333333333336% !important;
    }
}

@media (min-width: 1128px) {
    .cardContainer_mektc4-o_O-column-lg-4_14dbla5-o_O-column-md-3_1fzhlj3-o_O-column-sm-2_1hfu0v {
        padding-bottom: 0px !important;
        width: 25% !important;
    }
}

.twoLineTitle_wlyu2v {
    line-height: 18px !important;
    max-height: 36px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
}

.shimmer_1mfsr54 {
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
}

@keyframes keyframe_1ebsvz4 {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 0.3;
    }
}

.shimmer_wylrqg {
    -webkit-animation-direction: alternate !important;
    animation-direction: alternate !important;
    -webkit-animation-duration: 1s !important;
    animation-duration: 1s !important;
    -webkit-animation-fill-mode: forwards !important;
    animation-fill-mode: forwards !important;
    -webkit-animation-iteration-count: infinite !important;
    animation-iteration-count: infinite !important;
    -webkit-animation-name: keyframe_1ebsvz4 !important;
    animation-name: keyframe_1ebsvz4 !important;
    -webkit-animation-timing-function: ease-in-out !important;
    animation-timing-function: ease-in-out !important;
    background-color: currentColor !important;
    display: inline-block !important;
    position: relative !important;
}

.inline_g86r3e {
    display: inline !important;
}

.text_5mbkop {
    font-weight: 300 !important;
    color: #484848 !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    display: inline !important;
}

.starRatingContainer{
    vertical-align: middle !important;
    font-family: initial !important;
}
 

.star_sizeSmall {
    display: inline-block !important;
    color: #00A699 !important;
    font-size: 12px !important;
    height: 12px !important;
    margin-right: 3px !important;
    width: 12px !important;
}


.star_1c8pmxm-o_O-star_withHalf_e296pg-o_O-star_sizeSmall_efbia6-o_O-star_colorBabu_1qcsgvk {
    display: inline-block !important;
    color: #00A699 !important;
    position: relative !important;
    font-size: 12px !important;
    height: 12px !important;
    margin-right: 3px !important;
    width: 12px !important;
}

.starHalf_ay4wjb-o_O-starHalf_blank_1pib0b {
    position: absolute !important;
    color: #D8D8D8 !important;
}

.starHalf_ay4wjb {
    position: absolute !important;
}

.chevronBackground_14ls1k9-o_O-rightChevronBackgound_142vsja {
    position: absolute !important;
    top: 0px !important;
    bottom: 0px !important;
    display: block !important;
    padding: 0 32px !important;
    right: -32px !important;
    z-index: 1 !important;
}

@media (min-width: 1128px) {
    .chevronBackground_14ls1k9-o_O-rightChevronBackgound_142vsja {
        width: 24px !important;
        padding: 0px !important;
    }
}

.chevron_ra48s9 {
    position: absolute !important;
    height: 0px !important;
    margin: -12px auto 0 !important;
    display: block !important;
    z-index: 1 !important;
}

@media (max-width: 743px) {
    .table_vnbq9t {
        margin: 0 -24px !important;
        border-left: 0px !important;
        border-right: 0px !important;
        border-top: 0px !important;
    }
}

@media (min-width: 744px) {
    .table_vnbq9t {
        display: table !important;
        width: 100% !important;
    }
}

.tableCell_c8ymoa-o_O-imageColumn_kdzeqb {
    display: block !important;
    width: 100% !important;
}

@media (min-width: 744px) {
    .tableCell_c8ymoa-o_O-imageColumn_kdzeqb {
        display: table-cell !important;
        vertical-align: middle !important;
        width: 50% !important;
    }
}

@media (min-width: 1128px) {
    .tableCell_c8ymoa-o_O-imageColumn_kdzeqb {
        width: 55% !important;
    }
}

.tableCell_c8ymoa-o_O-textColumn_13sh2wo {
    display: block !important;
}

@media (min-width: 744px) {
    .tableCell_c8ymoa-o_O-textColumn_13sh2wo {
        display: table-cell !important;
        vertical-align: middle !important;
        width: 50% !important;
        padding-right: 80px !important;
    }
}

@media (max-width: 743px) {
    .tableCell_c8ymoa-o_O-textColumn_13sh2wo {
        padding: 24px !important;
    }
}

.title_11ajjkt-o_O-level3_zd2ru4 {
    font-weight: 700 !important;
    color: #484848 !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 28px !important;
    line-height: 36px !important;
    letter-spacing: -0.6px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

@media (max-width: 743px) {
    .title_11ajjkt-o_O-level3_zd2ru4 {
        font-size: 25px !important;
        line-height: 30px !important;
        letter-spacing: -0.6px !important;
    }
}

.text_5mbkop-o_O-size_regular_x6m9oi-o_O-weight_light_1nmzz2x {
    font-weight: 300 !important;
    color: #484848 !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 19px !important;
    line-height: 24px !important;
    letter-spacing: undefined !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.container_71fudf-o_O-container_rounded_sa8zo9-o_O-container_notBlock_1xdomts-o_O-container_sizeSmall_l9yuiv-o_O-container_1cyenke {
    font-weight: 700 !important;
    cursor: pointer !important;
    -webkit-transition: background 0.3s, border-color 0.3s !important;
    -moz-transition: background 0.3s, border-color 0.3s !important;
    transition: background 0.3s, border-color 0.3s !important;
    position: relative !important;
    border: 2px solid transparent !important;
    border-radius: 4px !important;
    width: auto !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 15px !important;
    line-height: 15px !important;
    letter-spacing: undefined !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    color: #484848 !important;
    padding-right: 16px !important;
    padding-left: 16px !important;
    min-width: 51.77708763999664px !important;
    background: #008489 !important;
    border-color: undefined !important;
}

.container_71fudf-o_O-container_rounded_sa8zo9-o_O-container_notBlock_1xdomts-o_O-container_sizeSmall_l9yuiv-o_O-container_1cyenke::-moz-focus-inner {
    border: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
}

.container_71fudf-o_O-container_rounded_sa8zo9-o_O-container_notBlock_1xdomts-o_O-container_sizeSmall_l9yuiv-o_O-container_1cyenke:active {
    background: #00514A !important;
    border-color: undefined !important;
}

.container_71fudf-o_O-container_rounded_sa8zo9-o_O-container_notBlock_1xdomts-o_O-container_sizeSmall_l9yuiv-o_O-container_1cyenke:hover {
    background: #008489 !important;
    border-color: undefined !important;
}

.container_71fudf-o_O-container_rounded_sa8zo9-o_O-container_notBlock_1xdomts-o_O-container_sizeSmall_l9yuiv-o_O-container_1cyenke:disabled {
    background: undefined !important;
    border-color: undefined !important;
    cursor: default !important;
}

.text_veo4lx-o_O-text_sizeSmall_1gb9qjw-o_O-text_1x93kzx {
    -webkit-transition: color 0.3s !important;
    -moz-transition: color 0.3s !important;
    transition: color 0.3s !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 15px !important;
    line-height: 15px !important;
    letter-spacing: undefined !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #ffffff !important;
    white-space: nowrap !important;
}

.text_veo4lx-o_O-text_sizeSmall_1gb9qjw-o_O-text_1x93kzx:active {
    color: undefined !important;
}

.text_veo4lx-o_O-text_sizeSmall_1gb9qjw-o_O-text_1x93kzx:hover {
    color: undefined !important;
}

.image_zdxht7 {
    width: 100% !important;
}

.container_1rp5252-o_O-inline_36rlri {
    cursor: pointer !important;
    background-color: transparent !important;
    color: buttontext !important;
    border: 0px !important;
    display: inline-block !important;
}

.container_1rp5252-o_O-inline_36rlri:active {
    outline: 0px !important;
}

.container_1rp5252-o_O-inline_36rlri:disabled {
    opacity: 0.5 !important;
    cursor: default !important;
    color: graytext !important;
}

@keyframes keyframe_1v6x06b {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.shimmer_1mfsr54-o_O-fadeOut_u62866 {
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    -webkit-animation-name: keyframe_1v6x06b !important;
    animation-name: keyframe_1v6x06b !important;
    -webkit-animation-duration: 300ms !important;
    animation-duration: 300ms !important;
    -webkit-animation-timing-function: ease-out !important;
    animation-timing-function: ease-out !important;
}

@keyframes keyframe_w18mkj {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.image_ay4wjb-o_O-background_1h6n1zu-o_O-fadeIn_3jddj2-o_O-backgroundSize_cover_176vplr {
    position: absolute !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    -webkit-animation-name: keyframe_w18mkj !important;
    animation-name: keyframe_w18mkj !important;
    -webkit-animation-duration: 300ms !important;
    animation-duration: 300ms !important;
    -webkit-animation-timing-function: ease-out !important;
    animation-timing-function: ease-out !important;
    background-size: cover !important;
}

.buttonContainer_48hmcm {
    margin-top: 20px !important;
}

.cardSlider_disableCarousel {
    -webkit-transition: -webkit-transform 0.5s, transform 0.5s !important;
    -moz-transition: transform 0.5s !important;
    transition: -ms-transform 0.5s, -webkit-transform 0.5s, transform 0.5s !important;
    white-space: nowrap !important;
    overflow-x: auto !important;
    overflow-y: hidden !important;
    padding: 0 18px !important;
    margin-bottom: -30px !important;
}

@media (min-width: 744px) {
    .cardSlider_disableCarousel {
        padding: 0 16px !important;
    }
}

@media (min-width: 1128px) {
    .cardSlider_disableCarousel {
        margin-bottom: 0px !important;
        padding: 0px !important;
        overflow: visible !important;
        white-space: normal !important;
        margin-top: 0px !important;
    }
}

.cardSlider_disableCarousel::-webkit-scrollbar {
    -webkit-appearance: none !important;
    display: none !important;
}

.cardRoom {
    padding-left: 4px !important;
    padding-right: 4px !important;
    padding-bottom: 30px !important;
    display: inline-block !important;
    vertical-align: top !important;
    white-space: normal !important;
    width: 100% !important;
}

@media (min-width: 744px) {
    .cardRoom {
        padding-left: 4px !important;
        padding-right: 4px !important;
        width: 50% !important;
    }
}

@media (min-width: 1128px) {
    .cardRoom {
        padding-bottom: 8px !important;
        width: 33% !important;
        padding-top: 8px !important;
    }
}

.image_e296pg {
    position: relative !important;
}

.carouselContainer {
    overflow: hidden !important;
}

.bottomRow {
    padding: 8px 0 !important;
    color: #484848 !important;
}

.twoLineTitle {
    line-height: 18px !important;
    max-height: 36px !important;
    overflow: hidden !important;
    text-overflow: ellipis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
}

.inlineBlockMiddle {
    display: inline-block !important;
    vertical-align: middle !important;
}

.navigation_10isrgg {
    position: absolute !important;
    top: 0px !important;
    height: 100% !important;
    width: 100% !important;
    z-index: 1 !important;
}

.image_ay4wjb-o_O-background_1h6n1zu-o_O-fadeIn_3jddj2-o_O-backgroundSize_contain_16d3go2 {
    position: absolute !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    -webkit-animation-name: keyframe_w18mkj !important;
    animation-name: keyframe_w18mkj !important;
    -webkit-animation-duration: 300ms !important;
    animation-duration: 300ms !important;
    -webkit-animation-timing-function: ease-out !important;
    animation-timing-function: ease-out !important;
    background-size: contain !important;
}

.image-background {
    position: absolute !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    -webkit-animation-name: keyframe_w18mkj !important;
    animation-name: keyframe_w18mkj !important;
    -webkit-animation-duration: 300ms !important;
    animation-duration: 300ms !important;
    -webkit-animation-timing-function: ease-out !important;
    animation-timing-function: ease-out !important;
    background-size: contain !important;
}




.container_sm {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
    background: transparent !important;
}

.inlineBlock {
    display: inline-block !important;
}

.container_rounded {
    font-weight: 700 !important;
    cursor: pointer !important;
    -webkit-transition: background 0.3s, border-color 0.3s !important;
    -moz-transition: background 0.3s, border-color 0.3s !important;
    transition: background 0.3s, border-color 0.3s !important;
    position: relative !important;
    border: 2px solid transparent !important;
    border-radius: 4px !important;
    width: auto !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 15px !important;
    line-height: 15px !important;
    letter-spacing: undefined !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    color: #484848 !important;
    padding-right: 16px !important;
    padding-left: 16px !important;
    min-width: 51.77708763999664px !important;
    background: transparent !important;
    border-color: #008489 !important;
}

.container_71fudf-o_O-container_rounded_sa8zo9-o_O-container_notBlock_1xdomts-o_O-container_sizeSmall_l9yuiv-o_O-container_w9ia0s::-moz-focus-inner {
    border: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
}

.container_71fudf-o_O-container_rounded_sa8zo9-o_O-container_notBlock_1xdomts-o_O-container_sizeSmall_l9yuiv-o_O-container_w9ia0s:active {
    background: transparent !important;
    border-color: #00514A !important;
}

.container_71fudf-o_O-container_rounded_sa8zo9-o_O-container_notBlock_1xdomts-o_O-container_sizeSmall_l9yuiv-o_O-container_w9ia0s:hover {
    background: transparent !important;
    border-color: undefined !important;
}

.container_71fudf-o_O-container_rounded_sa8zo9-o_O-container_notBlock_1xdomts-o_O-container_sizeSmall_l9yuiv-o_O-container_w9ia0s:disabled {
    background: transparent !important;
    border-color: rgba(0, 132, 137, 0.3) !important;
    cursor: default !important;
}

.text_veo4lx-o_O-text_sizeSmall_1gb9qjw-o_O-text_1ku16io {
    -webkit-transition: color 0.3s !important;
    -moz-transition: color 0.3s !important;
    transition: color 0.3s !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 15px !important;
    line-height: 15px !important;
    letter-spacing: undefined !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #008489 !important;
    white-space: nowrap !important;
}

.text_veo4lx-o_O-text_sizeSmall_1gb9qjw-o_O-text_1ku16io:active {
    color: undefined !important;
}

.text_veo4lx-o_O-text_sizeSmall_1gb9qjw-o_O-text_1ku16io:hover {
    color: undefined !important;
}

